@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*{
  transition: color 0.3s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --nav: rgba(226, 226, 226, 0.25);
  --tblack: rgba(0,0,0,0.25);
  
}

[data-theme = 'dark']{
  --primary-color: #212121  ;
  --secondary-color: #3168ac;
  --black-color: #ffffff;
  --lightGray-color: #202020;
  --gray-color: #cccccc;
  --brown-color: #46364a;
  --white-color: #474747;
  --nav: #8a8a8a50;
  --tblack: rgba(224, 224, 224, 0.25);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar{
  width: 10px;
  display: block;
}
*::-webkit-scrollbar-button {
  display: none;
}
*::-webkit-scrollbar-thumb{
  background-color: var(--secondary-color);
  border-radius: 100px;
}
*::-webkit-scrollbar-track{
  background-color: var(--primary-color);
} 